/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="number"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
input[type="range"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.button {
  display: block;
  width: 100%;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #0075ff;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #0075ff;
}

button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #0075ff;
  box-shadow: 4px 5px 17px -4px #0075ff;
}

button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #0075ff;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

button:hover::before {
  width: 250%;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 1.1em;
}

#result div {
    margin-bottom: 10px;
}

#result span {
    font-weight: bold;
    color: #333;
}
 */

 body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, #e6dfff, #c4b5fd, #a58eff, #7d5cff);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.left-section {
    width: 45%;
}

.right-section {
    width: 50%;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    margin-top: 0px;
    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-color: #5D3FD3;
    font-size: 40px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

input[type="number"]:focus {
    outline: 2px solid #5D3FD3;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #e3dcff, #beaeff);
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #5D3FD3;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #5D3FD3;
}

input[type="range"]::-webkit-slider-thumb:active {
    background: #5D3FD3;
}

.row-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    display: block;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #5D3FD3;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #5D3FD3;
    margin-bottom: 10px;
    background-color: #fff;
    width: 100%;
}

button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #5D3FD3;
    box-shadow: 4px 5px 17px -4px #5D3FD3;
}

button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #5D3FD3;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

button:hover::before {
    width: 250%;
}

#result {
    margin-bottom: 20px;
    font-size: 1.1em;
}

#result div {
    margin-bottom: 10px;
    
}

#result span {
    font-weight: bold;
    color: #333;
}

#doughnutChart {
    max-width: 100%;
    max-height: 400px;
}

.dialog {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    max-height: 500px;
    overflow-y: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.dialog-text {
    font-size: 1.1em;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}
